/*Fontes utilizadas:
   1. Elemento H1 =     
   2. Elementos com a classe date = Roboto
   3. Elementos com a classe post-content = Open Sans
Cores:
   1. Background dos posts = #fffafa
   2. Cor da data = #008080​*/


.post-container{
        margin: 0 15% 0 15%;
    }

.post{
    margin: 5%;
}
.date{
    color: darkcyan;
}
